<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a class="navbar-item" href="//instagram.com" target="_blank" data-config-id="instagram"><img class="mr-2" alt="Instagram" src="images/instagram.webp" style="width: 22px; height: 22px; object-fit: cover;">  @AlPorterMusic</a>
      <a class="navbar-item" href="//spotify.com" target="_blank" data-config-id="spotify"><img class="mr-2" alt="Spotify" src="images/spotify.webp" style="width: 22px; height: 22px; object-fit: cover;"> AlPorterMusic</a>
      <a class="navbar-item" href="//facebook.com" target="_blank" data-config-id="facebook"><img class="mr-2" alt="Facebook" src="images/facebook.webp" style="width: 22px; height: 22px; object-fit: cover;"> AlPorterMusic</a>
    </p>
    <p>Copyright © 2021 Al Porter Music - All Rights Reserved</p>
  </div>
</footer>
