<div class="container" id="navdiv">
  <nav data-section-id="1" data-category="navigations" class="navbar py-4">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item mr-6" href="/" data-config-id="brand">
          <img class="image" src="images/logo.png" alt="Al Porter Music" style="max-height: 3rem">
        </a>
        <a id="navbarHeaderBurger" class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="navbarHeader">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarHeader" class="navbar-menu">
        <div class="navbar-start" style="justify-content: center; flex-grow: .75;">
          <a class="navbar-item" href="bio" data-config-id="bio">Bio</a>
          <a class="navbar-item" href="listen" data-config-id="listen">Listen</a>
          <a class="navbar-item" href="playlist" data-config-id="playlist">Playlist</a>
          <a class="navbar-item" href="gallery" data-config-id="gallery">Gallery</a>
          <a class="navbar-item" href="contact" data-config-id="contact">Contact</a>
        </div>
        <div class="navbar-end">
        {% if site.social.instagram.id %}
          <a class="navbar-item" href="//instagram.com/{{ site.social.instagram.id }}" target="_blank" data-config-id="instagram"><img alt="Instagram" src="images/instagram.webp" style="width: 22px; height: 22px; object-fit: cover;"></a>
        {% endif %}
        {% if site.social.spotify.id %}
          <a class="navbar-item" href="//spotify.com/{{ site.social.spotify.id }}" target="_blank" data-config-id="spotify"><img alt="Spotify" src="images/spotify.webp" style="width: 22px; height: 22px; object-fit: cover;"></a>
        {% endif %}
        {% if site.social.facebook.id %}
          <a class="navbar-item" href="//facebook.com/{{ site.social.facebook.id }}" target="_blank" data-config-id="facebook"><img alt="Facebook" src="images/facebook.webp" style="width: 22px; height: 22px; object-fit: cover;"></a>
        {% endif %}
        </div>
      </div>
    </div>
  </nav>
</div>
