{% assign context_file = "schema.org/context/default.jsonld" %}
<script type="application/ld+json">
{% if page.type == "homepage" %}
  {% include schema.org/homepage.jsonld context=context_file %}
{% elsif page.type == "contact" %}
  {
    "@context": {% include {{ context_file }} %},
    "@id": "{{ site.url }}{{ page.url }}",
    "@type": "ContactPage",
    "name": {{ page.title | jsonify }},
    "url": {{ site.url }}{{ page.url | jsonify }}
  }
{% elsif page.type == "playlist" %}
  {% assign description = page.description | default: "Songs in my repertoire that best represent my style and sound" %}
  {
    "@context": {% include {{ context_file }} %},
    "@id": "{{ site.url }}{{ page.url }}",
    "@type": "MusicPlaylist",
    "name": "{{ site.title }} Playlist",
    "description": {{ description | jsonify }},
    "url": {{ site.url }}{{ page.url | jsonify }}
  }  
{% elsif page.type == "gallery" %}
  {
    "@context": {% include {{ context_file }} %},
    "@id": "{{ site.url }}{{ page.url }}",
    "@type": "ImageGallery",
    "name": "{{ site.title }} Playlist",
    "url": {{ site.url }}{{ page.url | jsonify }}
  } 
{% else %}
  {
    "@context": {% include {{ context_file }} %},
    "@id": "{{ site.url }}{{ page.url }}",
    "@type": "WebPage",
    "name": {{ page.title | jsonify }},
    "url": {{ site.url }}{{ page.url | jsonify }}
  }
{% endif %}
</script>
