<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav.html %}
    <section class="section" style="background: url('images/homepage-background.jpg') no-repeat fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position-x: center;
    background-size: cover;">
      <div class="container mb-6">
        {{ content }}
      </div>
    </section>
    {% include footer.html %}
    <script src="js/site.js"></script>
  </body>
</html>
